/* CONTACT FORM */

.contact{

padding:100px 8%;
background:white;

}

.contact-container{

display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
align-items:center;

}

.contact-text h2{

font-size:42px;
color:#0f6f73;
margin-bottom:20px;

}

.contact-text p{

margin-bottom:20px;
line-height:1.8;

}

.response{

display:inline-block;
background:#31d6d6;
padding:10px 20px;
color:white;
border-radius:30px;

}

.contact-form{

background:#f8f8f8;
padding:40px;
border-radius:25px;
box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.contact-form form{

display:flex;
flex-direction:column;
gap:20px;

}

.contact-form input,
.contact-form textarea,
.contact-form select{

padding:18px;
border:none;
border-radius:15px;
font-size:15px;
outline:none;

}

.contact-form button{

background:#31d6d6;
color:white;
padding:18px;
border:none;
border-radius:30px;
font-size:16px;
cursor:pointer;
font-weight:600;
transition:.4s;

}

.contact-form button:hover{

transform:translateY(-5px);

}

@media(max-width:900px){

.contact-container{

grid-template-columns:1fr;

}

}
