.local-experiences{
   padding-top:120px;
   padding-bottom:60px;

    
}

.experience-wrapper{
    width:90%;
    max-width:1200px;
    margin:auto;
}

.experience-card{
    display:flex;
    align-items:center;
    gap:40px;
    margin-bottom:60px;
    background:#fff;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

/* alternate layout */

.experience-card:nth-child(even){
    flex-direction:row-reverse;
}

.experience-slider{
    flex:1;
    min-width:450px;
    height:320px;
    position:relative;
    overflow:hidden;
    border-radius:20px;
}

.experience-slider img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transition:.8s;
}

.experience-slider img.active{
    opacity:1;
}

.experience-content{
    flex:1;
}

.experience-content h2,
.experience-content h3{
    font-size:36px;
    margin-bottom:15px;
}

.experience-content p{
    color:#666;
    line-height:1.8;
}

@media(max-width:768px){

    .experience-card,
    .experience-card:nth-child(even){
        flex-direction:column;
    }

    .experience-slider{
        min-width:100%;
        width:100%;
        height:250px;
    }
}
